<!--<?variable-resolver class="org.zkoss.zkplus.jndi.JndiVariableResolver" ?>-->

<!--<listbox width="600px">-->
<!--<zscript>var persons = personLocalBean.getAllPersons();</zscript>-->
<!--<listhead sizable="true">-->
<!--<listheader label="name" sort="auto"/>-->
<!--<listheader label="email" sort="auto"/>-->
<!--</listhead>-->
<!--<listitem forEach="${persons}"> &lt;!&ndash; resolve personLocalBean from JNDI &ndash;&gt;-->
<!--<listcell label="${each.firstName}"/>-->
<!--<listcell label="${each.lastName}"/>-->
<!--</listitem>-->
<!--</listbox>-->


<!--<?page title="Auto Generated index.zul"?>-->
<!--<window title="Hello World!!" border="normal" width="100%" apply="ru.org.hotelstask.app.controller.PersonController">-->
<!--<div align="Center">-->
<!--<vlayout>-->
<!--<label value="You are using: ${desktop.webApp.version}"/>-->
<!--<button label="Load List" id="btnLoad"  />-->
<!--<listbox id="listObjects" vflex="true" mold="paging" autopaging="true" >-->
<!--<listhead>-->
<!--<listheader label="This is my list" sort="auto" >-->
<!--</listheader>-->
<!--</listhead>-->
<!--</listbox>-->
<!--</vlayout>-->
<!--</div>-->
<!--</window>-->
<window>
    <div apply="org.zkoss.bind.BindComposer"
         viewModel="@id('vm') @init('ru.org.hotelstask.app.viewmodel.PersonListViewModel')">
        <listbox id="list" model="@bind(vm.personListModel)">
            <listhead>
                <listheader label="First Name"></listheader>
                <listheader label="Last Name"></listheader>
            </listhead>
            <template name="model">
                <listitem>
                    <listcell label="${each.firstName }"/>
                    <listcell label="${each.lastName }"/>
                </listitem>
            </template>
        </listbox>
    </div>
    <div apply="ru.org.hotelstask.app.ui.dialog.ModalDialogController">
        <button id="addBtn" label="Add" autodisable="self"/>
    </div>
</window>
